There was an issue with the 2024 data in the model run of MOM6 I pulled and post-processed data from. I am removing the 2024 onwards data from the two files retroactively, just so we don't accidentally use the data for comparisons in the future.

In [1]:
import pandas as pd

Load data.

In [2]:
mom6_annual = pd.read_csv("../../Data/Yellowtail/yellowtail_MOM6.csv", index_col = "year")
mom6_monthly = pd.read_csv("../../Data/Yellowtail/yellowtail_MOM6_monthly.csv", index_col = "year")

Check tail of dataframes, see that 2024 and 2025 data is included.

In [3]:
mom6_annual.tail()

,MLDpart,MLDlarv,MLDpjuv,Tcop,Tpart,XVlarv,XVpjuv,YVlarv,YVpjuv
year,,,,,,,,,
2021,9.881425,8.873543,6.529687,9.830821,9.040565,0.000816,-0.004769,-0.023371,-0.063889
2022,9.837998,9.663205,6.008096,9.115975,9.160145,0.001052,-0.001103,-0.023465,-0.056220
2023,11.900953,11.619337,6.452252,9.138968,9.089793,0.001145,-0.003105,0.004670,-0.051088
2024,7.049550,5.993854,8.423209,9.808215,10.976408,-0.003218,0.000348,0.026950,0.005197
2025,NaN,NaN,NaN,13.678174,NaN,NaN,NaN,NaN,NaN

In [4]:
mom6_monthly.tail()

,month,MLD_90_180,MLD_0_180,MLD_0_90,MLD_30_130,MLD_180_550,T_90_180,T_0_180,T_0_90,T_30_130,...,XV_90_180,XV_0_180,XV_0_90,XV_30_130,XV_180_550,YV_90_180,YV_0_180,YV_0_90,YV_30_130,YV_180_550
year,,,,,,,,,,,,,,,,,,,,,
2024,8,11.737076,11.192008,10.587694,11.070801,12.072405,13.433339,13.870942,14.687725,14.169070,...,-0.001546,-0.002182,-0.003559,-0.002480,0.000773,0.034322,0.037813,0.045371,0.039303,0.029838
2024,9,13.358822,12.642618,11.848566,12.423860,14.880149,14.111207,14.513107,15.263264,14.815973,...,-0.002742,-0.002785,-0.002878,-0.002374,-0.001421,0.030718,0.026284,0.016685,0.024355,0.038436
2024,10,15.842132,14.676942,13.385100,14.594273,16.530718,13.489971,13.604357,13.817855,13.756165,...,-0.000227,0.000944,0.003479,0.002643,-0.003191,-0.018002,-0.025257,-0.040963,-0.030451,0.022427
2024,11,12.034345,11.142749,10.154242,10.941510,15.507049,11.309664,11.209609,11.022859,11.206468,...,0.001814,0.002535,0.004096,0.002763,-0.000938,-0.073290,-0.065872,-0.049814,-0.063118,-0.062697
2024,12,8.281659,7.813671,7.294813,7.759837,9.342320,10.815886,10.744517,10.611306,10.767633,...,0.001475,0.001690,0.002156,0.002742,-0.000084,-0.037033,-0.035221,-0.031299,-0.034700,-0.025986

Filter out 2024 data onwards.

(Note on `Tcop` - Copulation was lagged one year forward, since temperature for copulation one year impacts the next year's recruitment, i.e. 2023 MOM6 temperature data is used to calculate `Tcop` for 2024. This step filters out 2024 `Tcop` which is not impacted by the MOM6 data issue - so the filter is a little more conservative than needed. Since we haven't looked at comparisons for years that we don't have all the life stage data for anyways, this doesn't impact our comparisons.)

In [5]:
mom6_annual = mom6_annual.loc[mom6_annual.index < 2024]
mom6_monthly = mom6_monthly.loc[mom6_monthly.index < 2024]

Check tail of dataframes, verify that 2024 data is removed.

In [6]:
mom6_annual.tail()

,MLDpart,MLDlarv,MLDpjuv,Tcop,Tpart,XVlarv,XVpjuv,YVlarv,YVpjuv
year,,,,,,,,,
2019,11.101268,10.108418,6.232444,9.229483,10.030187,0.000430,-0.002470,0.008186,-0.055610
2020,9.852244,7.844773,6.386738,9.587037,9.464018,0.002265,-0.001998,-0.024253,-0.059398
2021,9.881425,8.873543,6.529687,9.830821,9.040565,0.000816,-0.004769,-0.023371,-0.063889
2022,9.837998,9.663205,6.008096,9.115975,9.160145,0.001052,-0.001103,-0.023465,-0.056220
2023,11.900953,11.619337,6.452252,9.138968,9.089793,0.001145,-0.003105,0.004670,-0.051088

In [7]:
mom6_monthly.tail()

,month,MLD_90_180,MLD_0_180,MLD_0_90,MLD_30_130,MLD_180_550,T_90_180,T_0_180,T_0_90,T_30_130,...,XV_90_180,XV_0_180,XV_0_90,XV_30_130,XV_180_550,YV_90_180,YV_0_180,YV_0_90,YV_30_130,YV_180_550
year,,,,,,,,,,,,,,,,,,,,,
2023,8,5.921359,5.709799,5.475244,5.655376,6.493180,9.188954,9.223611,9.288294,9.214664,...,-0.001481,-0.002465,-0.004595,-0.006571,-0.003550,-0.036682,-0.034889,-0.031006,-0.031133,-0.024331
2023,9,7.122780,6.767201,6.372971,6.637765,7.759437,9.676910,9.775483,9.959468,9.822802,...,0.003095,0.002236,0.000376,0.003090,-0.003557,0.003239,0.004675,0.007785,0.006737,0.003701
2023,10,9.611629,9.026238,8.377217,8.832457,10.845132,10.558772,10.886652,11.498647,11.085366,...,-0.000784,0.000033,0.001802,0.001772,-0.003139,0.020693,0.019842,0.018001,0.017194,0.044628
2023,11,11.457274,10.726608,9.916522,10.223149,14.282578,10.729670,10.958740,11.386297,11.127007,...,-0.002918,-0.003024,-0.003252,-0.002244,-0.001979,0.057120,0.055328,0.051450,0.055292,0.057050
2023,12,12.810273,11.001174,8.995438,10.110396,16.994864,10.779180,10.838214,10.948395,10.929531,...,-0.001150,-0.001544,-0.002398,0.000187,-0.000795,0.125712,0.123817,0.119715,0.121790,0.106764

Rewrite dataframes without 2024 data.

In [8]:
mom6_annual.to_csv("../../Data/Yellowtail/yellowtail_MOM6.csv")
mom6_monthly.to_csv("../../Data/Yellowtail/yellowtail_MOM6_monthly.csv")